body{
	background-color: #f4f2ef;
}
.wrapper{
	max-width: 1260px;
	min-height:1800px;
	background-color: #f4f2ef;
	margin: 0 auto;
	position: relative;
}
nav{ 
	display:flex;
	justify-content:space-between;
	img{
		max-height: 65px;
		margin:40px 0 0 151px;
	}
	.menuToggle{
		color: #bebebe;
		font-family: 'Bebas Neue', arial;
		font-size: 3em;
		margin: 50px 0 0 0;
		display: none;
		cursor: pointer;
		
	}
	.menu{
		margin: 0 157px 0 0;
		display: flex;
		list-style: none;
		align-items: center;
		padding-top: 70px;
		li a{
			text-decoration: none;
			color: #bebebe;
			font-family: 'Bebas Neue', arial;
			font-size: 22px;
			font-weight: 400;
			line-height: 17px;
			text-transform: uppercase;
			margin:0 0 0 19px;
			&:hover{
				border-bottom:2px solid #8c8c8c;
				color: #8c8c8c;
			}
			
		}
		
	}
}
.logo-text{
	text-align: center;
	text-shadow: 1px 1px 5px #ffffff;
	color: #8c8c8c;
	line-height: 55px;
	margin: 76px 0 0 0;
	h1{
		font-size: 60px;
		font-family: "MyriadProRegular";
		font-weight: 600;
		margin: 0;
	}
	p{
		font-size: 4em;
		font-family: "MyriadProRegular";
		font-weight: 100;
		margin: 0;
	}
}
.myself{
	display: flex;
	margin: 75px 0 67px 0;
	justify-content:center;
	.about_me{
		margin-right: 20px;
		h2{
			color: #d14343;
			font-family: "Bebas Neue";
			font-size: 40px;
			font-weight: 400;
			line-height: 17px;
			text-transform: uppercase;
			margin-left: 10px;
		}
		hr {
		    max-width: 470px;
		    height: 4px; 
		    background: #dfdedc; 
		    border: 0; 
		    margin: 0 0 20px 0;
		    
		}
		img{
			width: 100px;
			height: 96px;
			float: left;
			margin:0 20px 0 10px;
		}
		p{
			color: #8c8c8c;
			font-family: Verdana;
			font-size: 15px;
			font-weight: 400;
			line-height: 17px;
			float: right;
			max-width: 333px;
		}

	}
	.skills{
		h2{
			color: #d14343;
			font-family: "Bebas Neue";
			font-size: 40px;
			font-weight: 400;
			line-height: 17px;
			text-transform: uppercase;
			margin-left: 8px;
		}
		hr {
		    max-width: 470px;
		    height: 4px; 
		    background: #dfdedc; 
		    border: 0; 
		    margin: 0 0 20px 0;
		    
		}
		.web{
			float: left;
			margin:-26px 0 0 8px;

			h3{
				color: #8c8c8c;
				font-family: "Bebas Neue";
				font-size: 24px;
				font-weight: 400;
				line-height: 17px;
				text-transform: uppercase;
				margin-bottom: 4px;
			}
			ul{
				padding: 0 0 0 22px;
				li{
					color: #d14343;
					font-size: 1.2em;
					margin: 0;
					a{
						color: #8c8c8c;
						font-family: Verdana;
						font-size: 15px;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}
		}
		.graphic{
			float: right;
			margin: -23px 0 0 27px;
			h3{
				color: #8c8c8c;
				font-family: "Bebas Neue";
				font-size: 24px;
				font-weight: 400;
				line-height: 17px;
				text-transform: uppercase;
				margin-bottom: 4px;
			}
			ul{
				padding: 0 0 0 22px;
				li{
					color: #d14343;
					font-size: 1.2em;
					margin: 0;
					a{
						color: #8c8c8c;
						font-family: Verdana;
						font-size: 15px;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}
		}

	}
}
.content{
	max-width: 960px;
	margin: 0 auto;
	h2{
		margin: 0 0 0 10px;
		padding: 0 0 0 0;
		float: left;
		color: #d14343;
		font-family: "Bebas Neue";
		font-size: 40px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
	}
	ul{
		display: flex;
		justify-content: flex-end;
		padding: 5px 6px 0 0;
		li{
			list-style: none;
			a{
				color: #8c8c8c;
				font-family: Verdana;
				font-size: 11px;
				font-weight: 400;
				line-height: 17px;
				text-transform: uppercase;
				margin-left: 15px;
				&:hover{
					text-decoration:none;
					color: #dc6565;
				}
			}
		}
	}
	hr {
	    max-width: 100%;
	    height: 4px;
	    background: #dfdedc;
	    border: 0;
	    margin: -7px 0 20px 2px;
	    
	}
	.my-work{
		display: flex;	
		justify-content:space-around;
		margin-bottom: 8px;
		.example{
			.img{
				-webkit-box-shadow: 3px -4px 23px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 3px -4px 23px -5px rgba(0,0,0,0.75);
				box-shadow: 3px -4px 23px -5px rgba(0,0,0,0.75);
				min-width: 220px;
				height: 130px;
				background-color: #ffffff;
			}
			p{
				color: #8c8c8c;
				font-family: Verdana;
				font-size: 14px;
				font-weight: 400;
				line-height: 17px;
				text-align: center;
				margin-top: 5px;
			}
		}
	}
	
}
.my-information{
	display:flex;
	flex-direction: column;
	max-width: 960px;
	padding-top: 40px;
	margin: 0 auto;
	h2{
		color: #d14343;
		font-family: "Bebas Neue";
		font-size: 40px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
		margin-left: 11px;
	}
	hr{
		max-width: 100%;
	    height: 4px;
	    background: #dfdedc;
	    border: 0;
	    margin: 0 0 0 0;
	}
	.form{
		margin: 3px 21px 0 12px;
		float: left;
		h3{
			color: #8c8c8c;
			font-family: "Bebas Neue";
			font-size: 24px;
			font-weight: 400;
			line-height: 17px;
			margin-bottom: 8px;
		}
		.left-form{
			float: left;
			margin-right: 20px;
			p{
				color: #8c8c8c;
				font-family: Verdana;
				font-size: 15px;
				font-weight: 400;
				line-height: 17px;
				margin: 7px 0 2px 0;
			}
			input{
				width: 220px;
				height: 33px;
				box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
				background-color: #e8e8e8;
				border: none;
			}
		}
		.right-form{
			p{
				color: #8c8c8c;
				font-family: Verdana;
				font-size: 15px;
				font-weight: 400;
				line-height: 17px;
				margin: 0px 0 2px 0;
				padding: 7px 0 0px 0;
			}
			input{
				width: 220px;
				height: 33px;
				box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
				background-color: #e8e8e8;
				border: none;
			}
		}
		.center-form{
			p{
				color: #8c8c8c;
				font-family: Verdana;
				font-size: 15px;
				font-weight: 400;
				line-height: 17px;
				margin: 10px 0 4px 0;
			}
			textarea{
				width: 460px;
				height: 121px;
				box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
				background-color: #e8e8e8;
				border: none;
			}

		}
		button{
			width: 100px;
			height: 36px;
			background-color: #dc6565;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.32);
			color: #ffffff;
			font-family: "Bebas Neue";
			font-size: 24px;
			font-weight: 400;
			line-height: 17px;
			text-transform: uppercase;
			border: none;
			margin: 19px 0px 0 -1px;
		}
	}
}	
.other-info{
	margin: 23px 0 0 0;
	h3{
		color: #8c8c8c;
		font-family: "Bebas Neue";
		font-size: 24px;
		font-weight: 400;
		line-height: 17px;
		margin: 0 0 17px 0;
		padding: 0 0 0 0;
	}
	.my-photo{
	    width: 240px;
		height: 202px;
		background: #ffffff;
		float: left;
		border: 1px solid #c0c0c0;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	.contact-info{
		float: right;
		margin-right: 35px;
		h3{
			color: #8c8c8c;
			font-family: Verdana;
			font-size: 15px;
			font-weight: 700;
			line-height: 17px;
			margin: 0 0 0 0;
			padding: 0 0 0 0;

		}
		h4{
			color: #8c8c8c;
			font-family: Verdana;
			font-size: 15px;
			font-weight: 700;
			line-height: 17px;
		    margin: 10px 0 4px 0px;
		}
		h5{
			color: #8c8c8c;
			font-family: Verdana;
			font-size: 15px;
			font-weight: 700;
			line-height: 17px;
		    margin: 15px 0 0 0;
		}
		p{
			color: #8c8c8c;
			font-family: Verdana;
			font-size: 13px;
			font-weight: 400;
			line-height: 17px;
			max-width: 120px;
			margin: 0 0 0 3px;
		}
		a{
			color: #dc6565;
			font-family: Verdana;
			font-size: 12px;
			font-weight: 400;
			line-height: 17px;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
.the-end{
	max-width: 960px;
	margin:0 auto;
	hr {
		    max-width: 100%;
		    height: 4px;
		    background: #dfdedc;
		    border: 0;
		    margin:40px 0 5px 0;
		    
	}
	span{
		margin-left: 10px;
		font-family: Verdana;
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
		color: #8c8c8c;
		float: left;
		a{
			color: #dc6565;
			text-decoration: underline;
		}
	}
	.icons{
		float: right;
		margin-right: 8px;
		i{
			color: #8c8c8c;
			font-size: 19px;
			margin-left: 14px;
		}
	}
}
@media screen and (max-width: 960px){
	nav{
		.menu{
			margin: 0;
			padding: 70px 13% 0 0;

		}
	}
	.myself{	
		justify-content: space-around;
		.about_me{
			img{
				float: none;
				margin: 0;
				padding: 0;
			}
			p{
				float: none;
				margin: 0;
				padding: 0;
			}
		}
		.skills{
			.web{
				float: none;
				margin:0;
				padding:0;
			}
			.graphic{
				float: none;
				margin: 0;
				padding:0;
			}
		}
	}
	.content{
		.my-work{
			justify-content:center;
			flex-direction: column;
			.example{
				.img{
					height: 250px;
					margin: 3%;
			    }
			}
		}
	}
	.my-information{
		.form{
			float: none;
			max-width: 500px;
			margin: 0 auto;
			padding-left:10px;
		}
		.other-info{
			margin: 0 auto;
			max-width: 500px;
			padding: 3% 0 0 10px;
			float: none;
		}
	}
}
@media screen and (max-width: 760px){
	nav{
		img{
			margin-left: 5%;
		}
	}
	.myself{	
		flex-direction: column;
		justify-content: center;
		.about_me{
			margin: 0 auto;
			img{
				float: left;
				margin:0 20px 0 10px;
				padding: 0;
			}
			p{
				float: right;
				margin: 0;
				padding: 0;
			}
		}
		.skills{
			margin: 0 auto;
			.web{
				margin:-26px 0 0 8px;
				float:left;
				padding:0;
			}
			.graphic{
				float: right;
				margin: -24px 0 0 27px;
				padding:0;
			}
		}
	}
}
@media screen and (max-width: 560px){
	nav{
		justify-content: space-around;
		.menu{
			display: none;
			flex-direction: column;
			margin:0;
			padding: 0;
			align-items: flex-start;
			position: absolute;
			li{
				padding-top: 10px;
				a{
					font-size: 30px;
					margin: 0 0 0 0;
					&:hover{
						border-bottom:none;
					}

				}
			}
		}
		.menuToggle{
			display: inline-block; 
		}
	}
	.my-information{
		.form{
			max-width: 80%;
			margin: 0 auto;
			.left-form{
				float: none;
			}
			.center-form{
				textarea{
					max-width: 220px;
				}
			}
		}
		.other-info{
			padding-left: 12%;
			.my-photo{
				width: 150px;
				height: 150px;
				float: none;
				margin-bottom: 10px;	

			}
			.contact-info{
				max-width:300px; 
				float: none;
			}
		}
	}
}

@media screen and (max-width: 480px){
	.myself{	
		justify-content:none;
		.about_me{
			img{
				float: left;
				margin: 0 0 0 1%;
				padding: 0;
			}
			p{
				float:left;
				margin-left:1%;
				padding: 0;
			}
		}
		.skills{
			.web{
				float: left;
				margin:0;
				padding:0 0 0 10px;
			}
			.graphic{
				float: left;
				margin: 0;
				padding:0 0 0 10px;
			}
		}
	}
}	